<!DOCTYPE html>
<html lang="en">

<head>
    ##include('../include/base.html')
    <!-- build:css /css/about.css -->
    <link rel="stylesheet" href="/css/about.css">
    <!-- endbuild -->
    <title>关于</title>
</head>

<body>
    <script src="https://cdn.bootcss.com/three.js/r83/three.min.js"></script>
    <div class="abouta">1关于</div>
    <!-- build:js /js/about.min.js -->
    <script src="/js/about.js"></script>
    <script>
        console.log(a())
    </script>
    <!-- endbuild -->
</body>

</html>
